  GNU nano 7.2                                                          /etc/systemd/system/whatsapp-manager.service                                                                    
[Unit]
Description=WhatsApp Docker Manager
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/myapp/current

# ENV
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment=REDIS_CONNECTION=localhost:6379

# טעינת .env אם יש
EnvironmentFile=/opt/myapp/shared/.env

ExecStart=/usr/bin/dotnet /opt/myapp/current/WhatsAppDockerManager.dll

Restart=always
RestartSec=5

# ממתין קצת לפני עלייה (למקרה Redis עולה)
ExecStartPre=/bin/sleep 3

[Install]
WantedBy=multi-user.target

