# Supabase Configuration
SUPABASE_URL=https://umxgluptdopldndqjbvx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVteGdsdXB0ZG9wbGRuZHFqYnZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MzI1ODgsImV4cCI6MjA4NzMwODU4OH0.0PfgOWGut5k6FjlKQAWvCeaFmHfNNGv8Y_uX7JGfuo0

# Host Configuration
HOST_NAME=host-1
HOST_IP=0.0.0.0
EXTERNAL_IP=your-external-ip
